*{
    margin: 0;
    padding: 0;
}
body{
    background: skyblue;
}
.wrapper{
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 25px;
    width: 300px;
    margin: 100px auto;
    box-shadow: 2px 2px 2px 2px gainsboro;
}
.wrap{
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.span{
    color: rgba(20, 20, 222, 0.958);
}
.text{
    color: black;
    line-height: 23px;
}
.small{
    color: gray;
}